In [45]:
### Library Import
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# Function Imports
import sys
sys.path.append('/Users/mburley/TradingIndicators/Functions')  # Add the 'Functions' directory to the Python path
from IndicatorFunctions import import_stock_data, plot_function
from IndicatorFunctions import calculate_macd, calculate_rsi, calculate_cci, adx_mult_tickers

In [46]:
### Import Stock Data for the Ticker List
tickers = ['CELH', 'LI', 'AMD', 'TSM', 'BA', 'RDDT', 'ONCT', 'PFE', 'STT', 'MSAI', 'WNS', 'TSLA', 'TNON', 'BTDR', 'RRGB', 'AVO', 'JPM', 'EL', 'CRDO', 'VC', 'BLK', 'APLD', 'LCID', 'ORCL', 'RIVN', 'RUN', 'QS', 'GME', 'CISS', 'ALLR', 'SCHW', 'TMO', 'ZM', 'NMRK', 'HD', 'PYPL', 'IBM', 'BABA', 'PINS', 'SPOT', 'XOM', 'CRSR', 'LMND', 'SE', 'JNJ', 'EXC', 'ABNB', 'ETSY', 'CVX', 'ACN', 'SNAP', 'NIO', 'SBUX', 'AAPL', 'MRO', 'CSCO', 'UPST', 'CRM', 'NKE', 'LYV', 'TDOC', 'ACRS', 'MCD', 'KO']
start_date = '2018-01-01'

stock_data = import_stock_data(tickers, start_date)
stock_data.tail()

[*********************100%%**********************]  64 of 64 completed

Price        Date       Close                                                  \
Ticker                   AAPL        ABNB         ACN  ACRS  ALLR         AMD
1586   2024-04-23  166.899994  160.949997  316.829987  1.22  1.42  152.270004
1587   2024-04-24  169.020004  162.839996  313.540009  1.17  1.37  151.740005
1588   2024-04-25  169.889999  163.009995  309.000000  1.19  1.43  153.759995
1589   2024-04-26  169.300003  164.229996  308.010010  1.20  1.46  157.399994
1590   2024-04-29  173.500000  162.250000  303.160004  1.22  1.38  160.199997

Price                            ...     Low                                 \
Ticker  APLD    AVO          BA  ...    TDOC         TMO   TNON        TSLA
1586    2.93  11.38  169.179993  ...  13.314  560.000000  0.710  141.110001
1587    2.98  11.23  164.330002  ...  13.410  565.229980  0.720  157.509995
1588    3.00  11.47  166.809998  ...  13.210  569.979980  0.729  158.360001
1589    2.94  11.34  167.220001  ...  12.650  566.950012  0.710  166.369995
1590    2.71  11.46  173.490005  ...  12.880  571.299988  0.730  184.539993

Price
Ticker         TSM       UPST          VC        WNS         XOM         ZM
1586    130.660004  21.969999  108.260002  47.400002  119.449997  59.625000
1587    131.539993  22.670000  108.989998  46.680000  119.389999  60.980000
1588    128.860001  21.730000  105.190002  40.060001  119.400002  60.320000
1589    135.949997  22.510000  110.949997  39.849998  116.220001  61.259998
1590    135.910004  22.830000  111.059998  40.020000  117.760002  62.500000

[5 rows x 193 columns]

In [47]:
### Return RSI and Perform Filtering
# Function call to compute RSI
periods = 14
rsi_df, rsi_vals = calculate_rsi(stock_data, periods, tickers)
#rsi_df.tail()
# Set new filtered df to current rsi_df
rsi_df_filtered = rsi_df

# Filter based on constraints:
    # Below 40 - indicate oversold conditions which generates a potential BUY signal, expect the price to rebound or correct upward after being oversold from downward selling pressure
    # Above 60 - indicate overbought conditions which generates a potential SELL signal
for ticker in rsi_df.columns:
    if rsi_df_filtered[ticker].iloc[-1] >= 40 and rsi_df_filtered[ticker].iloc[-1] <= 60:
        del rsi_df_filtered[ticker]

# Print the filtered DataFrame (optional)
print(rsi_df_filtered.tail(5))

           CELH         LI        TSM        PFE        STT        WNS  \
1586  41.526041  25.883399  37.795484  36.445795  37.531905  46.934150
1587  34.736410  25.215159  39.933785  43.214303  42.080163  45.354791
1588  19.793707  23.096452  43.198633  31.578958  38.923198  31.953643
1589  25.528986  23.996669  43.663574  34.715024  36.162357  27.421838
1590  24.592474  31.859075  39.551793  35.384597  38.159058  33.924412

           TNON       BTDR       RRGB        AVO  ...       SNAP        MRO  \
1586  25.308638  46.325878  43.661967  41.322326  ...  52.816912  27.540113
1587  35.458164  41.411043  48.742139  30.081310  ...  50.675670  25.685801
1588  30.694980  40.978590  58.383233  37.681180  ...  54.219407  25.685766
1589  38.025205  38.738738  52.881357  34.437109  ...  72.107976  27.604165
1590  32.166299  38.392860  66.770189  38.125020  ...  71.113993  32.368416

           CSCO       UPST        CRM        NKE        LYV       TDOC  \
1586  46.956503  34.123223  28.908588  63.075807  19.178658  41.849152
1587  51.904749  39.622645  34.089682  70.675561  20.380662  43.434342
1588  46.317500  40.255593  22.170628  68.292702  15.192216  35.922341
1589  46.854290  40.255581  23.946054  65.895073  20.801447  31.322520
1590  24.367790  31.710078  25.098168  62.728771  23.326041  30.352949

            MCD         KO
1586  52.475970  56.829659
1587  65.317381  67.828850
1588  72.857861  67.726574
1589  63.085635  70.413223
1590  60.426131  69.661009

[5 rows x 40 columns]

In [48]:
### Return MACD and Perform Filtering
# Function call to compute MACD
macd_df, macd_vals = calculate_macd(tickers, stock_data)
macd_df.tail()

# Filter based on constraints ->

,KO,MCD,ACRS,TDOC,LYV,NKE,CRM,UPST,CSCO,MRO,...,MSAI,STT,PFE,ONCT,RDDT,BA,TSM,AMD,LI,CELH
1586,-0.086451,-2.855465,0.002168,-0.625466,-2.973751,-0.841303,-7.181308,-1.125139,-0.333974,0.346127,...,0.005825,-0.195806,-0.394717,-0.015079,-1.774259,-6.179584,-1.041391,-8.329511,-1.955865,-3.016016
1587,0.077936,-2.284748,-0.001900,-0.579103,-3.150100,-0.691279,-7.136955,-1.051104,-0.317456,0.271787,...,-0.000420,-0.185968,-0.358721,-0.031994,-1.618904,-6.411281,-1.229891,-8.294306,-2.147185,-2.999276
1588,0.220997,-1.903306,-0.003470,-0.568088,-3.344902,-0.621702,-7.264176,-1.004256,-0.320840,0.227199,...,-0.004510,-0.255913,-0.407002,-0.068814,-1.534578,-6.321912,-1.075582,-8.011064,-2.304519,-2.980698
1589,0.330564,-1.782994,-0.003863,-0.578512,-3.352511,-0.545745,-7.189331,-0.905850,-0.338980,0.192069,...,-0.001282,-0.299820,-0.429022,-0.093686,-1.213303,-6.147143,-0.805220,-7.407486,-2.276282,-2.810921
1590,0.436571,-1.631719,-0.002531,-0.549772,-3.263630,-0.484803,-6.933093,-0.851933,-0.355712,0.175918,...,0.006846,-0.282940,-0.422240,-0.096948,-0.879958,-5.439991,-0.568267,-6.626819,-2.075854,-2.600402

In [49]:
### Return CCI and Perform Filtering
# Function call to compute CCI
cci_df, cci_vals = calculate_cci(stock_data, window = 14)
#rsi_df.tail()
# Set new filtered df to current rsi_df
cci_df_filtered = cci_df
# Filter based on constraints:
    # Below -100 - Oversold conditions, price has moved significantly below its average, suggesting a potential downtrend or extended period of weakness, generating a potential SELL signal
    # Above +100 - Overbought conditions, upward trend is beginning, generating a potential BUY signal
for ticker in cci_df.columns:
    if cci_df_filtered[ticker].iloc[-1] >= -100 and cci_df_filtered[ticker].iloc[-1] <= 100:
        del cci_df_filtered[ticker]

cci_df_filtered.tail()

Ticker,AAPL,BABA,CVX,ETSY,IBM,KO,LMND,PYPL,RDDT,RRGB,SE,SNAP,TSLA,WNS
1586,-76.199534,27.861761,53.854898,72.210172,-62.695614,82.742162,104.129076,-19.960308,NaN,47.576370,214.967634,83.158429,-135.301761,2.013035
1587,-29.114988,103.493068,74.831074,-10.912025,-26.823719,103.770459,149.967553,14.591006,NaN,34.204694,207.843661,25.511136,11.922566,-42.086195
1588,4.807208,103.269865,110.513787,-49.158196,-225.012992,133.926835,111.407579,-31.056740,NaN,71.158699,138.321961,20.733958,42.225887,-218.586372
1589,13.270563,119.419666,122.769087,27.268749,-187.999660,105.853413,152.144750,62.108676,NaN,88.416069,124.185525,433.269214,59.250891,-228.359281
1590,111.800697,106.531080,126.509483,119.819261,-140.557026,100.147442,151.051746,137.761426,NaN,120.783981,121.507414,284.223558,184.314009,-145.679844

In [ ]:
### Return ADX and Perform Filtering
# Function call to compute ADX
adx_df, adx_vals = adx_mult_tickers(stock_data, tickers, window = 14)
#rsi_df.tail()
# Set new filtered df to current rsi_df
adx_df_filtered = adx_df
# Filter based on constraints:
    # Below -100 - Oversold conditions, price has moved significantly below its average, suggesting a potential downtrend or extended period of weakness, generating a potential SELL signal
    # Above +100 - Overbought conditions, upward trend is beginning, generating a potential BUY signal
for ticker in adx_df.columns:
    if adx_df_filtered[ticker].iloc[-1] >= -100 and adx_df_filtered[ticker].iloc[-1] <= 100:
        del adx_df_filtered[ticker]

adx_df_filtered.tail()