In [3]:
### Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
### Load in Stock Data
tickers = 'AAPL'
start_date = '2018-01-01'

def import_stock_data(tickers, start_date):
    data = pd.DataFrame()
    if len([tickers]) == 1:
        data[tickers] = yf.download(tickers, start_date)['Adj Close']
        data = pd.DataFrame(data)
    else:
        for t in tickers:
            data[t] = yf.download(tickers, start_date)['Adj Close']
    # Reset index to make headings in the same row
    data.reset_index(inplace = True)

    data['Date'] = pd.to_datetime(data['Date'])

    return data

stock_data = import_stock_data(tickers, start_date)
stock_data

[*********************100%%**********************]  1 of 1 completed

           Date        AAPL
0    2018-01-02   40.670979
1    2018-01-03   40.663895
2    2018-01-04   40.852787
3    2018-01-05   41.317890
4    2018-01-08   41.164429
...         ...         ...
1579 2024-04-12  176.550003
1580 2024-04-15  172.690002
1581 2024-04-16  169.380005
1582 2024-04-17  168.000000
1583 2024-04-18  167.039993

[1584 rows x 2 columns]