In [1]:
### Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
### Load in Stock Data
tickers = 'GOOG'
start_date = '2018-01-01'

def import_stock_data(tickers, start_date):
    data = pd.DataFrame()
    if len([tickers]) == 1:
        data[tickers] = yf.download(tickers, start_date)['Adj Close']
        data = pd.DataFrame(data)
    else:
        for t in tickers:
            data[t] = yf.download(tickers, start_date)['Adj Close']
    # Reset index to make headings in the same row
    data.reset_index(inplace = True)

    data['Date'] = pd.to_datetime(data['Date'])

    return data

stock_data = import_stock_data(tickers, start_date)
stock_data

[*********************100%%**********************]  1 of 1 completed

           Date        GOOG
0    2018-01-02   53.250000
1    2018-01-03   54.124001
2    2018-01-04   54.320000
3    2018-01-05   55.111500
4    2018-01-08   55.347000
...         ...         ...
1578 2024-04-11  160.789993
1579 2024-04-12  159.190002
1580 2024-04-15  156.330002
1581 2024-04-16  156.000000
1582 2024-04-17  156.880005

[1583 rows x 2 columns]

In [5]:
### Compute RSI
# Initialize gains and losses array
gains = []
losses = []
# Initialize first gain and loss
prev_close = stock_data['GOOG'][0]
# Loop to calculate difference between current close price and the previous
for close_price in stock_data['GOOG'][1:]:
    price_change = close_price - prev_close
    prev_close = close_price

    if price_change > 0:
        gains.append(price_change)
        losses.append(0)
    else:
        gains.append(0)
        losses.append(abs(price_change))
    
# Calculate average gains and losses
avg_gain = sum(gains) / len(gains)
avg_loss = sum(losses) / len(losses)

# Calculate RS
RS = avg_gain / avg_loss

# Calculate RSI
RSI = 100 - (100 / (1 + RS))

print(RSI)

52.540672880409616